body{
    margin: 0;
    font-family:helvetica;
    line-height: 30px;
}
header{
    background-color: brown;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2{
     
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}


header h1{
color: white;
font-size: 70px;

}
header img{
    border-radius:900px;
    width:300px;
    border:20px solid gray;
}
main{
    max-width: 800px;
    margin: 0 auto;  
    padding: 20px;
}
main img{
    max-width: 100%;
}
h2{
    font-size: 35px;
    color:blue;
    margin: 40px 0 20px;
}
a{
    color: brown;
    text-decoration: none;
}
a:hover{
    color: bisque;
   background-color:lightslategray;
}
footer{
    background-color: brown;
    text-align: center;
    color: aliceblue;
    padding: 50px;
}
.caption{
    color: gray;
    font-style: italic;
    margin-top: 0;
}